body {
  margin: 0;
}

:root{
  --bg:#121212;
  --text:#EBEBEB;
  --muted:#B9B9B9;

  
  --accent:#8A38F5;        
  --accent-600:#742DD3;   
  --accent-700:#6628BA;    
  --accent-ring: rgba(138,56,245,.50);
  --accent-08:  rgba(138,56,245,.08); 
  --accent-18:  rgba(138,56,245,.18);  
}

